
@model ReviewViewModel
@using Microsoft.Extensions.Primitives;
@{
    ViewData["Title"] = "Delete review";
}

@*<div class="container-fluid">
        <h2>Delete</h2>
        <h3>Are you sure you want to delete this?</h3>
        <hr />
        <div class="row col-md-6">
            <form method="post" asp-controller="Reviews" asp-action="Delete" asp-route-id="@Model.Id" >
                <div class="form-group">
                    <button class="btn btn-outline-primary" type="submit">DELETE</button> |
                    <a class="btn btn-outline-primary" asp-action="Index" asp-controller="Products">Back to List</a>
                </div>
            </form>
        </div>
    </div>*@

<div class="row-grey">
    <div class="row">
        <div class="row">
            <div class="col-md-4">
                <h2 class="custom-format">Delete</h2>
                <h3 class="custom-format">Are you sure you want to delete this?</h3>
                @await Html.PartialAsync("_StatusMessage", TempData["StatusMessage"])
                <form asp-controller="Reviews" asp-action="Delete" method="post">
                    <button type="submit" class="btn btn-default-custom">Yes</button>
                    @{ var referrer = this.Context.Request.Headers["Referer"]; }
                    @if (referrer != default(StringValues))
                    {
                        <a href="@referrer.ToString()" class="btn btn-default-custom">No</a>
                    }
                </form>
                <hr class="hr-new" />
            </div>
        </div>
    </div>
</div>

@*<div class="container-fluid">
        <h2>Delete</h2>
        <h3>Are you sure you want to delete this?</h3>
        <hr />
        <div class="row col-md-6">
            <form method="post" asp-action="Delete" asp-route-id="@Model.Id" asp-controller="Products">
                <div class="form-group">
                    <button class="btn btn-outline-primary" type="submit">DELETE</button> |
                    <a class="btn btn-outline-primary" asp-action="Index" asp-controller="Products">Back to List</a>
                </div>
            </form>
        </div>
    </div>*@