
@model ReviewViewModel
@{
    ViewData["Title"] = "Delete review";
}

<div class="container-fluid">
    <h2>Delete</h2>
    <h3>Are you sure you want to delete this?</h3>
    <hr />
    <div class="row col-md-6">
        <form method="post" asp-action="Delete" asp-route-id="@Model.Id" asp-controller="Products">
            <div class="form-group">
                <button class="btn btn-outline-primary" type="submit">DELETE</button> |
                <a class="btn btn-outline-primary" asp-action="Index" asp-controller="Products">Back to List</a>
            </div>
        </form>
    </div>
</div>

