@model ReviewViewModel

@{
    ViewData["Title"] = "Edit";
}

@using Microsoft.Extensions.Primitives;

<div class="row-grey">
    <div class="row">
        <div class="row">
            <div class="col-md-4">
                <h3 class="custom-format">Edit your review</h3>
                <section>
                    <form asp-controller="Reviews" asp-action="Edit" method="post">
                        <input hidden asp-for="Id" />
                        <input hidden asp-for="UserId" />
                        <hr class="hr-new" />
                        <h4 class="padding-custom">Rate this:</h4>
                        <fieldset class="rating">
                            <input type="radio" id="star5" name="Rating" value="5" /><label class="full" for="star5" title="Awesome - 5 stars"></label>
                            <input type="radio" id="star4half" name="Rating" value="4.5" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                            <input type="radio" id="star4" name="Rating" value="4" /><label class="full" for="star4" title="Pretty good - 4 stars"></label>
                            <input type="radio" id="star3half" name="Rating" value="3.5" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                            <input type="radio" id="star3" name="Rating" value="3" /><label class="full" for="star3" title="Meh - 3 stars"></label>
                            <input type="radio" id="star2half" name="Rating" value="2.5" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                            <input type="radio" id="star2" name="Rating" value="2" /><label class="full" for="star2" title="Kinda bad - 2 stars"></label>
                            <input type="radio" id="star1half" name="Rating" value="1.5" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                            <input type="radio" id="star1" name="Rating" value="1" /><label class="full" for="star1" title="Sucks big time - 1 star"></label>
                            <input type="radio" id="starhalf" name="Rating" value="0.5" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                        </fieldset>
                        <div class="form-group">
                            <textarea asp-for="Description" placeholder="Please enter your review description." class="form-control"></textarea>
                            <span asp-validation-for="Description" class="text-danger-orange"></span>
                        </div>
                        <button type="submit" class="btn btn-default-custom">SUBMIT</button>
                        @{ var referrer = this.Context.Request.Headers["Referer"]; }
                        @if (referrer != default(StringValues))
                        {
                            <a href="@referrer.ToString()" class="btn btn-default-custom">GO BACK</a>
                        }
                    </form>
                </section>
                <hr class="hr-new" />
            </div>
        </div>
    </div>
</div>



