@model MovieViewModel
@using Microsoft.Extensions.Primitives;

<div class="row-grey">
    <div class="row">
        <div class="row">
            <div class="col-md-4">
                <h3 class="custom-format">Create a new movie</h3>
                <form asp-area="Admin" asp-controller="Movies" asp-action="Create" method="post">
                    <input type="hidden" asp-for="UserId" value="@ViewData["UserId"]" />
                    <hr class="hr-new" />
                    @await Html.PartialAsync("_StatusMessage", TempData["StatusMessage"])
                    <div class="form-group">
                        <label asp-for="Title" class="grey"></label>
                        <input asp-for="Title" placeholder="Please enter a title name." class="form-control" />
                        <span asp-validation-for="Title" class="text-danger-orange"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Trailer" class="grey"></label>
                        <input asp-for="Trailer" placeholder="Please enter a Trailer." class="form-control" />
                        <span asp-validation-for="Trailer" class="text-danger-orange"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Poster" class="grey"></label>
                        <input asp-for="Poster" placeholder="Please enter a Poster." class="form-control" />
                        <span asp-validation-for="Poster" class="text-danger-orange"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="grey"></label>
                        <input asp-for="Description" placeholder="Please enter a Description." class="form-control" />
                        <span asp-validation-for="Description" class="text-danger-orange"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ReleaseDate" class="grey"></label>
                        <input asp-for="ReleaseDate" placeholder="Please enter a Release Date." class="form-control" />
                        <span asp-validation-for="ReleaseDate" class="text-danger-orange"></span>
                    </div>
                    <button type="submit" class="btn btn-default-custom">SUBMIT</button>
                    @{ var referrer = this.Context.Request.Headers["Referer"]; }
                    @if (referrer != default(StringValues))
                    {
                        <a href="@referrer.ToString()" class="btn btn-default-custom">GO BACK</a>
                    }
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/js/jquery/dist/jquery.min.js"></script>
}

