@model MovieViewModel

@using Microsoft.Extensions.Primitives;

<div class="row-grey">
    <div class="row">
        <div class="row">
            <div class="col-md-4">
                <h3 class="custom-format">Update @Model.Title details</h3>
                <form asp-area="Admin" enctype="multipart/form-data" asp-controller="Movies" asp-action="Update" method="post">
                    <hr class="hr-new" />
                    <div class="form-group">
                        <label asp-for="Title" class="grey"></label>
                        <input readonly asp-for="Title" placeholder="Please enter a title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger-orange"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Trailer" class="grey"></label>
                        <input asp-for="Trailer" placeholder="Please enter a trailer" class="form-control" />
                        <span asp-validation-for="Trailer" class="text-danger-orange"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="grey"></label>
                        <input asp-for="Description" placeholder="Please enter a description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger-orange"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PosterImage" class="grey"></label>

                        <input asp-for="PosterImage" placeholder="Please enter a poster" class="form-control" />
                        <span asp-validation-for="PosterImage" class="text-danger-orange"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SliderImage" class="grey"></label>

                        <input asp-for="SliderPoster" placeholder="Please enter a poster" class="form-control" />
                        <span asp-validation-for="SliderPoster" class="text-danger-orange"></span>
                    </div>
                    <input type="hidden" asp-for="Poster" value="@Model.Poster" class="form-control" />
                    <input type="hidden" asp-for="SliderImage" value="@Model.SliderImage" class="form-control" />
                    <button type="submit" class="btn btn-default-custom">SUBMIT</button>
                    @{ var referrer = this.Context.Request.Headers["Referer"]; }
                    @if (referrer != default(StringValues))
                    {
                        <a href="@referrer.ToString()" class="btn btn-default-custom">GO BACK</a>
                    }
                </form>
                <hr class="hr-new" />
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}


