@model ForgotPasswordViewModel
@using Microsoft.Extensions.Primitives;
@{
    ViewData["Title"] = "Recover password";
}

<div class="row-grey">
    <div class="row">
        <div class="row">
            <div class="col-md-4">
                <form asp-action="ForgotPassword" method="post">
                    <h2 class="custom-format">@ViewData["Title"]</h2>
                    @*<h4 class="grey">Enter your email.</h4>*@
                    <hr class="hr-new" />
                    <div class="form-group">
                        <label asp-for="Email" class="grey"></label>
                        <input asp-for="Email" placeholder="Please enter your email." class="form-control" />
                        <span asp-validation-for="Email" class="text-danger-orange"></span>
                    </div>
                    <button type="submit" class="btn btn-default-custom">Submit</button>
                    @{ var referrer = this.Context.Request.Headers["Referer"]; }

                    @if (referrer != default(StringValues))
                    {
                        <a href="@referrer.ToString()" class="btn btn-default-custom">Go Back</a>
                    }
                    <hr class="hr-new" />
                </form>
            </div>
        </div>
    </div>
</div>
