@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<link href="~/css/custom.css" rel="stylesheet" type="text/css" media="all" />

<div class="row-grey">
    <div class="row" style="margin:3.5%">
        <div class="col-md-4">
            <form asp-action="ForgotPassword" method="post">
                <h2 class="custom-format">@ViewData["Title"]</h2>
                @*<h4 class="grey">Enter your email.</h4>*@
                <hr class="hr-new" />
                <div asp-validation-summary="All" class="text-danger-orange"></div>
                <div class="form-group">
                    <label asp-for="Email" class="grey"></label>
                    <input asp-for="Email" placeholder="Please enter your email." class="form-control" />
                    <span asp-validation-for="Email" class="text-danger-orange"></span>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
                <hr class="hr-new" />
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
