@model SearchMovieViewModel
@{
    ViewData["Title"] = "Search";
}

<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Search movies</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="One Movies Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

    <!-- //for-mobile-apps -->
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/medile.css" rel='stylesheet' type='text/css' />
    <link href="/css/single.css" rel='stylesheet' type='text/css' />

</head>

<body>
    <!-- single -->
    <div class="single-page-agile-main">
        <div class="container">
            <!-- /w3l-medile-movies-grids -->

            <div class="single-page-agile-info">
                <!-- /movie-browse-agile -->
                <div class="show-top-grids-w3lagile">
                    <div class="col-sm-8 single-left">
                        <div class="song">
                            <div class="song-info">
                                <h3>Search movies</h3>
                            </div>
                        </div>
                        <div class="all-comments">
                            <div class="all-comments-info">

                                <div class="row mt-5">
                                    <form class="col-lg-6" asp-controller="Movies" asp-action="Search" method="get">
                                        <div class="row">
                                            <div class="col-sm-9">
                                                <input asp-for="@Model.SearchName" placeholder="Search movie ..." class="form-control" />
                                            </div>
                                            <div class="col-sm-3">
                                                <button type="submit" class="btn btn-success">Search!</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <div class="agile-info-wthree-box">
                                    <div class="row mt-5">
                                        <div class="col-lg-6">
                                            @if (Model != null)
                                            {
                                                if (!string.IsNullOrWhiteSpace(Model.SearchName) && !Model.SearchResults.Any())
                                                {
                                                    <p class="alert alert-info">There are no movies</p>
                                                }
                                                else
                                                {
                                                    foreach (var movie in Model.SearchResults)
                                                    {
                                                        <partial name="_MoviePartial" model="movie" />
                                                    }
                                                }
                                            }
                                        </div>
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>


@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>

    <partial name="_ValidationScriptsPartial" />
}

