

@model ActorViewModel
@{
    ViewData["Title"] = "Create";
}

<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Create a new actor</title>
</head>

<body>
    <!-- single -->
    <div class="single-page-agile-main">
        <div class="container">
            <!-- /w3l-medile-movies-grids -->

            <div class="single-page-agile-info">
                <!-- /movie-browse-agile -->
                <div class="show-top-grids-w3lagile">
                    <div class="col-sm-8 single-left">
                        <div class="song">
                            <div class="song-info">
                                <h3>Update @Model.FirstName @Model.LastName Biography</h3>
                            </div>
                        </div>
                        <div class="all-comments">
                            <div class="all-comments-info">
                                <div class="agile-info-wthree-box">
                                    <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                                        <textarea asp-for="Biography" placeholder="Biography"></textarea>
                                        <input type="submit" value="Update">
                                        <div class="clearfix"> </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>



