@model ChangePasswordViewModel
@using Microsoft.Extensions.Primitives;
@{
    ViewData["Title"] = "Change password";
    ViewData.AddActivePage(ManageNavPages.ChangePassword);
}



<div class="row-grey">
    <div class="row">
        <div class="row">
            <div class="col-md-4">
                <h2 class="custom-format">@ViewData["Title"]</h2>
                <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
                    @*<h4>Create a new account.</h4>*@
                    <hr class="hr-new" />
                    @await Html.PartialAsync("_StatusMessage", Model.StatusMessage)
                    <div class="form-group">
                        <label asp-for="OldPassword" class="grey"></label>
                        <input asp-for="OldPassword" placeholder="Please enter your current password." class="form-control" />
                        <span asp-validation-for="OldPassword" class="text-danger-orange"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewPassword" class="grey"></label>
                        <input asp-for="NewPassword" placeholder="Please enter your new password." class="form-control" />
                        <span asp-validation-for="NewPassword" class="text-danger-orange"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword" class="grey"></label>
                        <input asp-for="ConfirmPassword" placeholder="Please enter your password." class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger-orange"></span>
                    </div>
                    <button type="submit" class="btn btn-default-custom">Save</button>
                    @{ var referrer = this.Context.Request.Headers["Referer"]; }
                    @if (referrer != default(StringValues))
                    {
                        <a href="@referrer.ToString()" class="btn btn-default-custom">Go Back</a>
                    }
                    <hr class="hr-new" />
                    @*<hr class="vl"/>*@
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/js/jquery/dist/jquery.min.js"></script>
}
