@model GenreViewModel
@using Microsoft.Extensions.Primitives;

<div class="row-grey">
    <div class="row">
        <div class="row">
            <div class="col-md-4">
                <h3 class="custom-format">Create a new genre</h3>
                <form asp-area="Admin" asp-controller="Genres" asp-action="Create" method="post">                    
                    <hr class="hr-new" />
                    @await Html.PartialAsync("_StatusMessage", TempData["StatusMessage"])
                    <div class="form-group">
                        <label asp-for="Name" class="grey"></label>
                        <input asp-for="Name" placeholder="Please enter a genre name." class="form-control" />
                        <span asp-validation-for="Name" class="text-danger-orange"></span>
                    </div>
                    <button type="submit" class="btn btn-default-custom">SUBMIT</button>
                    @{ var referrer = this.Context.Request.Headers["Referer"]; }
                    @if (referrer != default(StringValues))
                    {
                        <a href="@referrer.ToString()" class="btn btn-default-custom">GO BACK</a>
                    }
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/js/jquery/dist/jquery.min.js"></script>
}

